#Cleaning a CSV file using pandas

In [ ]:
import pandas as pd
import numpy as np
import re

The CSV contains information about presidents of the United States (data provided by U-M).

In [ ]:
presidents = pd.read_csv("/content/drive/MyDrive/bases de datos michigan/presidents.csv")
presidents

,#,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
0,1,George Washington,"Feb 22, 1732[a]","57 years, 67 daysApr 30, 1789","65 years, 10 daysMar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
1,2,John Adams,"Oct 30, 1735[a]","61 years, 125 daysMar 4, 1797","65 years, 125 daysMar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
2,3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 daysMar 4, 1801","65 years, 325 daysMar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"
3,4,James Madison,"Mar 16, 1751[a]","57 years, 353 daysMar 4, 1809","65 years, 353 daysMar 4, 1817","19 years, 116 days","Jun 28, 1836","85 years, 104 days"
4,5,James Monroe,"Apr 28, 1758","58 years, 310 daysMar 4, 1817","66 years, 310 daysMar 4, 1825","6 years, 122 days","Jul 4, 1831","73 years, 67 days"
5,6,John Quincy Adams,"Jul 11, 1767","57 years, 236 daysMar 4, 1825","61 years, 236 daysMar 4, 1829","18 years, 356 days","Feb 23, 1848","80 years, 227 days"
6,7,Andrew Jackson,"Mar 15, 1767","61 years, 354 daysMar 4, 1829","69 years, 354 daysMar 4, 1837","8 years, 96 days","Jun 8, 1845","78 years, 85 days"
7,8,Martin Van Buren,"Dec 5, 1782","54 years, 89 daysMar 4, 1837","58 years, 89 daysMar 4, 1841","21 years, 142 days","Jul 24, 1862","79 years, 231 days"
8,9,William H. Harrison,"Feb 9, 1773","68 years, 23 daysMar 4, 1841","68 years, 54 days Apr 4, 1841[b]",NaN,"Apr 4, 1841","68 years, 54 days"
9,10,John Tyler,"Mar 29, 1790","51 years, 6 daysApr 4, 1841","54 years, 340 daysMar 4, 1845","16 years, 320 days","Jan 18, 1862","71 years, 295 days"
10,11,James K. Polk,"Nov 2, 1795","49 years, 122 daysMar 4, 1845","53 years, 122 daysMar 4, 1849",103 days,"Jun 15, 1849","53 years, 225 days"
11,12,Zachary Taylor,"Nov 24, 1784","64 years, 100 daysMar 4, 1849","65 years, 227 daysJul 9, 1850[b]",NaN,"Jul 9, 1850","65 years, 227 days"
12,13,Millard Fillmore,"Jan 7, 1800","50 years, 183 daysJul 9, 1850","53 years, 56 daysMar 4, 1853","21 years, 4 days","Mar 8, 1874","74 years, 60 days"
13,14,Franklin Pierce,"Nov 23, 1804","48 years, 101 daysMar 4, 1853","52 years, 101 daysMar 4, 1857","12 years, 218 days","Oct 8, 1869","64 years, 319 days"
14,15,James Buchanan,"Apr 23, 1791","65 years, 315 daysMar 4, 1857","69 years, 315 daysMar 4, 1861","7 years, 89 days","Jun 1, 1868","77 years, 39 days"
15,16,Abraham Lincoln,"Feb 12, 1809","52 years, 20 daysMar 4, 1861","56 years, 62 daysApr 15, 1865[b]",NaN,"Apr 15, 1865","56 years, 62 days"
16,17,Andrew Johnson,"Dec 29, 1808","56 years, 107 daysApr 15, 1865","60 years, 65 daysMar 4, 1869","6 years, 149 days","Jul 31, 1875","66 years, 214 days"
17,18,Ulysses S. Grant,"Apr 27, 1822","46 years, 311 daysMar 4, 1869","54 years, 311 daysMar 4, 1877","8 years, 141 days","Jul 23, 1885","63 years, 87 days"
18,19,Rutherford B. Hayes,"Oct 4, 1822","54 years, 151 daysMar 4, 1877","58 years, 151 daysMar 4, 1881","11 years, 319 days","Jan 17, 1893","70 years, 105 days"
19,20,James A. Garfield,"Nov 19, 1831","49 years, 105 daysMar 4, 1881","49 years, 304 daysSep 19, 1881[b]",NaN,"Sep 19, 1881","49 years, 304 days"
20,21,Chester A. Arthur,"Oct 5, 1829","51 years, 349 daysSep 19, 1881","55 years, 150 daysMar 4, 1885","1 year, 259 days","Nov 18, 1886","57 years, 44 days"
21,22,Grover Cleveland,"Mar 18, 1837","47 years, 351 daysMar 4, 1885","51 years, 351 daysMar 4, 1889","4 years, 0 days[c]","Jun 24, 1908","71 years, 98 days"
22,23,Benjamin Harrison,"Aug 20, 1833","55 years, 196 daysMar 4, 1889","59 years, 196 daysMar 4, 1893","8 years, 9 days","Mar 13, 1901","67 years, 205 days"
23,24,Grover Cleveland,"Mar 18, 1837","55 years, 351 daysMar 4, 1893","59 years, 351 daysMar 4, 1897","11 years, 112 days[d]","Jun 24, 1908","71 years, 98 days"
24,25,William McKinley,"Jan 29, 1843","54 years, 34 daysMar 4, 1897","58 years, 228 daysSep 14, 1901[b]",NaN,"Sep 14, 1901","58 years, 228 days"
25,26,Theodore Roosevelt,"Oct 27, 1858","42 years, 322 daysSep 14, 1901","50 years, 128 daysMar 4, 1909","9 years, 308 days","Jan 6, 1919","60 years, 71 days"
26,27,William H. Taft,"Sep 15, 1857","51 years, 170 daysMar 4, 1909","55 years, 170 daysMar 4, 1913","17 years, 4 days","Mar 8, 1930","72 years, 174 days"
27,28,Woodrow Wilson,"Dec 28, 1856","56 years, 66 daysMar 4, 1913","64 years, 66 daysMar 4, 1921","2 years, 336 days","Feb 3, 1924","67 years, 37 days"
28,29,Warren G. Harding,"Nov 2, 1865","55 years, 122 daysMar 4, 1921","57 years, 273 daysAug 2, 1923[b]",NaN,"Aug 2, 1923","57 years, 273 days"
29,30,Calvin Coolidge,"Jul 4, 1872","51 years, 29 daysAug 2, 1923","56 years, 243 daysMar 4, 1929","3 years, 307 days","Jan 5, 1933","60 years, 185 days"
30,31,Herbert Hoover,"Aug 10, 1874","54 years, 206 daysMar 4, 1929","58 years, 206 daysMar 4, 1933","31 years, 230 days","Oct 20, 1964","90 years, 71 days"
31,32,Franklin D. Roosevelt,"Jan 30, 1882","51 years, 33 daysMar 4, 1933","63 years, 72 daysApr 12, 1945[b]",NaN,"Apr 12, 1945","63 years, 72 days"
32,33,Harry S. Truman,"May 8, 1884","60 years, 339 daysApr 12, 1945","68 years, 257 daysJan 20, 1953","19 years, 341 days","Dec 26, 1972","88 years, 232 days"
33,34,Dwight D. Eisenhower,"Oct 14, 1890","62 years, 98 daysJan 20, 1953","70 years, 98 daysJan 20, 1961","8 years, 67 days","Mar 28, 1969","78 years, 165 days"
34,35,John F. Kennedy,"May 29, 1917","43 years, 236 daysJan 20, 1961","46 years, 177 daysNov 22, 1963[b]",NaN,"Nov 22, 1963","46 years, 177 days"
35,36,Lyndon B. Johnson,"Aug 27, 1908","55 years, 87 daysNov 22, 1963","60 years, 146 daysJan 20, 1969","4 years, 2 days","Jan 22, 1973","64 years, 148 days"
36,37,Richard Nixon,"Jan 9, 1913","56 years, 11 daysJan 20, 1969","61 years, 212 daysAug 9, 1974[e]","19 years, 256 days","Apr 22, 1994","81 years, 103 days"
37,38,Gerald Ford,"Jul 14, 1913","61 years, 26 daysAug 9, 1974","63 years, 190 daysJan 20, 1977","29 years, 340 days","Dec 26, 2006","93 years, 165 days"
38,39,Jimmy Carter,"Oct 1, 1924","52 years, 111 daysJan 20, 1977","56 years, 111 daysJan 20, 1981","38 years, 175 days",(living),"94 years, 286 days"
39,40,Ronald Reagan,"Feb 6, 1911","69 years, 349 daysJan 20, 1981","77 years, 349 daysJan 20, 1989","15 years, 137 days","Jun 5, 2004","93 years, 120 days"
40,41,George H. W. Bush,"Jun 12, 1924","64 years, 222 daysJan 20, 1989","68 years, 222 daysJan 20, 1993","25 years, 314 days","Nov 30, 2018","94 years, 171 days"
41,42,Bill Clinton,"Aug 19, 1946","46 years, 154 daysJan 20, 1993","54 years, 154 daysJan 20, 2001","18 years, 175 days",(living),"72 years, 329 days"
42,43,George W. Bush,"Jul 6, 1946","54 years, 198 daysJan 20, 2001","62 years, 198 daysJan 20, 2009","10 years, 175 days",(living),"73 years, 8 days"
43,44,Barack Obama,"Aug 4, 1961","47 years, 169 daysJan 20, 2009","55 years, 169 daysJan 20, 2017","2 years, 175 days",(living),"57 years, 344 days"

First we drop the standar index and apply the **replace** method to make some colums readable.

In [ ]:
presidents = presidents.set_index("#")
presidents = presidents.replace(to_replace="days",value="days ",regex=True)
presidents.head(3)

,President,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age
#,,,,,,,
1,George Washington,"Feb 22, 1732[a]","57 years, 67 days Apr 30, 1789","65 years, 10 days Mar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days"
2,John Adams,"Oct 30, 1735[a]","61 years, 125 days Mar 4, 1797","65 years, 125 days Mar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days"
3,Thomas Jefferson,"Apr 13, 1743[a]","57 years, 325 days Mar 4, 1801","65 years, 325 days Mar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days"

We split the column *President* usings string's methods

In [ ]:
pattern ="(?P<First_name>^\S*).*\s(?P<Last_name>\S*$)"
presidents["First name"] = presidents['President'].str.extract(pattern)["First_name"]
presidents["Last name"] = presidents['President'].str.extract(pattern)["Last_name"]
del(presidents['President'])
presidents.head(3)

,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First name,Last name
#,,,,,,,,
1,"Feb 22, 1732[a]","57 years, 67 days Apr 30, 1789","65 years, 10 days Mar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
2,"Oct 30, 1735[a]","61 years, 125 days Mar 4, 1797","65 years, 125 days Mar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
3,"Apr 13, 1743[a]","57 years, 325 days Mar 4, 1801","65 years, 325 days Mar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson

The *born* column has some annotations, we drop them. Also, we give that column a nice format.

In [ ]:
pattern_born = "(\w{3} \d{1,2}, \d{4})"
presidents['Born'] = presidents["Born"].str.extract(pattern_born)
presidents["Born"] = pd.to_datetime(presidents["Born"])
presidents.head(3)

,Born,Age atstart of presidency,Age atend of presidency,Post-presidencytimespan,Died,Age,First name,Last name
#,,,,,,,,
1,1732-02-22,"57 years, 67 days Apr 30, 1789","65 years, 10 days Mar 4, 1797","2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington
2,1735-10-30,"61 years, 125 days Mar 4, 1797","65 years, 125 days Mar 4, 1801","25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams
3,1743-04-13,"57 years, 325 days Mar 4, 1801","65 years, 325 days Mar 4, 1809","17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson

Columns *Age atend of presidency* and *Age atstart of presidency* have two different kinds of information.

In [ ]:
pattern_start = "(?P<Age_at_start_of_presidency>.*days)\s(?P<Start_of_presidency>.*\d{4})"
start=presidents['Age atstart of presidency'].str.extract(pattern_start)
presidents["Age at start of presidency"]=start["Age_at_start_of_presidency"]
presidents["Start of presidency"]=pd.to_datetime(start["Start_of_presidency"])
del(presidents["Age atstart of presidency"])

#We use the same code to clean the other column
pattern_end = "(?P<Age_at_end_of_presidency>.*days)\s(?P<End_of_presidency>.*\d{4})"
end = presidents['Age atend of presidency'].str.extract(pattern_end)
presidents["Age at end of presidency"] = end["Age_at_end_of_presidency"]
presidents["End of presidency"] = pd.to_datetime(end["End_of_presidency"])
del(presidents["Age atend of presidency"])
presidents.head(3)

,Born,Post-presidencytimespan,Died,Age,First name,Last name,Age at start of presidency,Start of presidency,Age at end of presidency,End of presidency
#,,,,,,,,,,
1,1732-02-22,"2 years, 285 days","Dec 14, 1799","67 years, 295 days",George,Washington,"57 years, 67 days",1789-04-30,"65 years, 10 days",1797-03-04
2,1735-10-30,"25 years, 122 days","Jul 4, 1826","90 years, 247 days",John,Adams,"61 years, 125 days",1797-03-04,"65 years, 125 days",1801-03-04
3,1743-04-13,"17 years, 122 days","Jul 4, 1826","83 years, 82 days",Thomas,Jefferson,"57 years, 325 days",1801-03-04,"65 years, 325 days",1809-03-04

Observe that we cannot give a nice format to *Died* column because living presidents have a string that is not a date. We fix this replacing it with **pd.NA**

In [ ]:
presidents = presidents.replace("(living)",pd.NA)
presidents['Died']=pd.to_datetime(presidents['Died'])
presidents.head(3)

,Born,Post-presidencytimespan,Died,Age,First name,Last name,Age at start of presidency,Start of presidency,Age at end of presidency,End of presidency
#,,,,,,,,,,
1,1732-02-22,"2 years, 285 days",1799-12-14,"67 years, 295 days",George,Washington,"57 years, 67 days",1789-04-30,"65 years, 10 days",1797-03-04
2,1735-10-30,"25 years, 122 days",1826-07-04,"90 years, 247 days",John,Adams,"61 years, 125 days",1797-03-04,"65 years, 125 days",1801-03-04
3,1743-04-13,"17 years, 122 days",1826-07-04,"83 years, 82 days",Thomas,Jefferson,"57 years, 325 days",1801-03-04,"65 years, 325 days",1809-03-04

We give all columns' names the same format

In [ ]:
presidents['Post-presidencytimespan'].fillna(0,inplace=True)
presidents['Post-presidency timespan'] = presidents['Post-presidencytimespan']
del(presidents['Post-presidencytimespan'])

presidents["Age of death"] = presidents["Age"]
del(presidents["Age"])

Finally, we reorder columns

In [ ]:
new_order = ["First name","Last name","Born","Start of presidency","Age at start of presidency","End of presidency","Age at end of presidency", "Died","Post-presidency timespan","Age of death"]
presidents= presidents.reindex(columns=new_order)
presidents

,First name,Last name,Born,Start of presidency,Age at start of presidency,End of presidency,Age at end of presidency,Died,Post-presidency timespan,Age of death
#,,,,,,,,,,
1,George,Washington,1732-02-22,1789-04-30,"57 years, 67 days",1797-03-04,"65 years, 10 days",1799-12-14,"2 years, 285 days","67 years, 295 days"
2,John,Adams,1735-10-30,1797-03-04,"61 years, 125 days",1801-03-04,"65 years, 125 days",1826-07-04,"25 years, 122 days","90 years, 247 days"
3,Thomas,Jefferson,1743-04-13,1801-03-04,"57 years, 325 days",1809-03-04,"65 years, 325 days",1826-07-04,"17 years, 122 days","83 years, 82 days"
4,James,Madison,1751-03-16,1809-03-04,"57 years, 353 days",1817-03-04,"65 years, 353 days",1836-06-28,"19 years, 116 days","85 years, 104 days"
5,James,Monroe,1758-04-28,1817-03-04,"58 years, 310 days",1825-03-04,"66 years, 310 days",1831-07-04,"6 years, 122 days","73 years, 67 days"
6,John,Adams,1767-07-11,1825-03-04,"57 years, 236 days",1829-03-04,"61 years, 236 days",1848-02-23,"18 years, 356 days","80 years, 227 days"
7,Andrew,Jackson,1767-03-15,1829-03-04,"61 years, 354 days",1837-03-04,"69 years, 354 days",1845-06-08,"8 years, 96 days","78 years, 85 days"
8,Martin,Buren,1782-12-05,1837-03-04,"54 years, 89 days",1841-03-04,"58 years, 89 days",1862-07-24,"21 years, 142 days","79 years, 231 days"
9,William,Harrison,1773-02-09,1841-03-04,"68 years, 23 days",1841-04-04,"68 years, 54 days",1841-04-04,0,"68 years, 54 days"
10,John,Tyler,1790-03-29,1841-04-04,"51 years, 6 days",1845-03-04,"54 years, 340 days",1862-01-18,"16 years, 320 days","71 years, 295 days"
11,James,Polk,1795-11-02,1845-03-04,"49 years, 122 days",1849-03-04,"53 years, 122 days",1849-06-15,103 days,"53 years, 225 days"
12,Zachary,Taylor,1784-11-24,1849-03-04,"64 years, 100 days",1850-07-09,"65 years, 227 days",1850-07-09,0,"65 years, 227 days"
13,Millard,Fillmore,1800-01-07,1850-07-09,"50 years, 183 days",1853-03-04,"53 years, 56 days",1874-03-08,"21 years, 4 days","74 years, 60 days"
14,Franklin,Pierce,1804-11-23,1853-03-04,"48 years, 101 days",1857-03-04,"52 years, 101 days",1869-10-08,"12 years, 218 days","64 years, 319 days"
15,James,Buchanan,1791-04-23,1857-03-04,"65 years, 315 days",1861-03-04,"69 years, 315 days",1868-06-01,"7 years, 89 days","77 years, 39 days"
16,Abraham,Lincoln,1809-02-12,1861-03-04,"52 years, 20 days",1865-04-15,"56 years, 62 days",1865-04-15,0,"56 years, 62 days"
17,Andrew,Johnson,1808-12-29,1865-04-15,"56 years, 107 days",1869-03-04,"60 years, 65 days",1875-07-31,"6 years, 149 days","66 years, 214 days"
18,Ulysses,Grant,1822-04-27,1869-03-04,"46 years, 311 days",1877-03-04,"54 years, 311 days",1885-07-23,"8 years, 141 days","63 years, 87 days"
19,Rutherford,Hayes,1822-10-04,1877-03-04,"54 years, 151 days",1881-03-04,"58 years, 151 days",1893-01-17,"11 years, 319 days","70 years, 105 days"
20,James,Garfield,1831-11-19,1881-03-04,"49 years, 105 days",1881-09-19,"49 years, 304 days",1881-09-19,0,"49 years, 304 days"
21,Chester,Arthur,1829-10-05,1881-09-19,"51 years, 349 days",1885-03-04,"55 years, 150 days",1886-11-18,"1 year, 259 days","57 years, 44 days"
22,Grover,Cleveland,1837-03-18,1885-03-04,"47 years, 351 days",1889-03-04,"51 years, 351 days",1908-06-24,"4 years, 0 days [c]","71 years, 98 days"
23,Benjamin,Harrison,1833-08-20,1889-03-04,"55 years, 196 days",1893-03-04,"59 years, 196 days",1901-03-13,"8 years, 9 days","67 years, 205 days"
24,Grover,Cleveland,1837-03-18,1893-03-04,"55 years, 351 days",1897-03-04,"59 years, 351 days",1908-06-24,"11 years, 112 days [d]","71 years, 98 days"
25,William,McKinley,1843-01-29,1897-03-04,"54 years, 34 days",1901-09-14,"58 years, 228 days",1901-09-14,0,"58 years, 228 days"
26,Theodore,Roosevelt,1858-10-27,1901-09-14,"42 years, 322 days",1909-03-04,"50 years, 128 days",1919-01-06,"9 years, 308 days","60 years, 71 days"
27,William,Taft,1857-09-15,1909-03-04,"51 years, 170 days",1913-03-04,"55 years, 170 days",1930-03-08,"17 years, 4 days","72 years, 174 days"
28,Woodrow,Wilson,1856-12-28,1913-03-04,"56 years, 66 days",1921-03-04,"64 years, 66 days",1924-02-03,"2 years, 336 days","67 years, 37 days"
29,Warren,Harding,1865-11-02,1921-03-04,"55 years, 122 days",1923-08-02,"57 years, 273 days",1923-08-02,0,"57 years, 273 days"
30,Calvin,Coolidge,1872-07-04,1923-08-02,"51 years, 29 days",1929-03-04,"56 years, 243 days",1933-01-05,"3 years, 307 days","60 years, 185 days"
31,Herbert,Hoover,1874-08-10,1929-03-04,"54 years, 206 days",1933-03-04,"58 years, 206 days",1964-10-20,"31 years, 230 days","90 years, 71 days"
32,Franklin,Roosevelt,1882-01-30,1933-03-04,"51 years, 33 days",1945-04-12,"63 years, 72 days",1945-04-12,0,"63 years, 72 days"
33,Harry,Truman,1884-05-08,1945-04-12,"60 years, 339 days",1953-01-20,"68 years, 257 days",1972-12-26,"19 years, 341 days","88 years, 232 days"
34,Dwight,Eisenhower,1890-10-14,1953-01-20,"62 years, 98 days",1961-01-20,"70 years, 98 days",1969-03-28,"8 years, 67 days","78 years, 165 days"
35,John,Kennedy,1917-05-29,1961-01-20,"43 years, 236 days",1963-11-22,"46 years, 177 days",1963-11-22,0,"46 years, 177 days"
36,Lyndon,Johnson,1908-08-27,1963-11-22,"55 years, 87 days",1969-01-20,"60 years, 146 days",1973-01-22,"4 years, 2 days","64 years, 148 days"
37,Richard,Nixon,1913-01-09,1969-01-20,"56 years, 11 days",1974-08-09,"61 years, 212 days",1994-04-22,"19 years, 256 days","81 years, 103 days"
38,Gerald,Ford,1913-07-14,1974-08-09,"61 years, 26 days",1977-01-20,"63 years, 190 days",2006-12-26,"29 years, 340 days","93 years, 165 days"
39,Jimmy,Carter,1924-10-01,1977-01-20,"52 years, 111 days",1981-01-20,"56 years, 111 days",NaT,"38 years, 175 days","94 years, 286 days"
40,Ronald,Reagan,1911-02-06,1981-01-20,"69 years, 349 days",1989-01-20,"77 years, 349 days",2004-06-05,"15 years, 137 days","93 years, 120 days"
41,George,Bush,1924-06-12,1989-01-20,"64 years, 222 days",1993-01-20,"68 years, 222 days",2018-11-30,"25 years, 314 days","94 years, 171 days"
42,Bill,Clinton,1946-08-19,1993-01-20,"46 years, 154 days",2001-01-20,"54 years, 154 days",NaT,"18 years, 175 days","72 years, 329 days"
43,George,Bush,1946-07-06,2001-01-20,"54 years, 198 days",2009-01-20,"62 years, 198 days",NaT,"10 years, 175 days","73 years, 8 days"
44,Barack,Obama,1961-08-04,2009-01-20,"47 years, 169 days",2017-01-20,"55 years, 169 days",NaT,"2 years, 175 days","57 years, 344 days"